//colors

$white: #fff;
$black: #3c3c3c;

//font-family

$title-font: "Lato bold", sans-serif;
$text-font: "Lato light", sans-serif;
$subtitle-font: "Lato regular", sans-serif;

//font-size

$biggest-title: 54px;
$title: 34px;
$contact-title: 30px;
$skills-title: 20px;
$btn-fz: 16px;
